<footer class="site-footer">
  <p><%= site.name %> &mdash; <%= site.tagline %></p>
  <p><%= site.location %></p>
  <div class="footer-links">
    <a href="<%= site.phoneHref %>"><%= site.phone %></a>
    <a href="mailto:<%= site.email %>">Email Us</a>
  </div>
</footer>
